@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
    background-image: url("assets/css/style.css/images/pattern.png");
}

#form {
    height: 400px;
    width: 400px;
}
#quiz {
    margin-left: 10px;
    background: rgba(203, 222, 135, 0.377);
    float: center;
    
}

#after-submit {
    visibility: hidden;
}

input {
    margin-bottom: 20px;
    display: block;
}

#button {
    background: rgba(203, 222, 135, 0.377);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin-top: 15px;
}

#picture {
    width: 475px;
    height: 345px;
    padding: 10px 20px 10px 20px;
    float: left;
}

#title {
    text-align: center;
}